# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/*.jks

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Firebase
google-services.json
GoogleService-Info.plist

# Env / secrets
.env
